/* Zmienne, reset i style globalne */
html {
  scroll-behavior: smooth;
}

:root {
  --navy-darkest: #004025;
  /* najciemniejszy zielony */
  --navy-darker: #107838;
  /* ciemny zielony */
  --navy: #1DB233;
  /* główny zielony */
  --canar-green: #FFE523;
  /* kanarkowy żółty */
  --gold: #FDF901;
  /* złoty */
  --light-bg: #F6F9F4;
  /* jasna zieleń z nutą kremu – naturalne tło */
  --text: #24351F;
  /* ciemna oliwkowa zieleń – przyjazna dla oczu */
  --white: #FFFFFF;
}

/* —— Reset I Podstawowe Style —— */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--white);
  color: var(--text);
  line-height: 1.6;
  font-size: 16px;
}
