.hero-slider {
  position: relative;
  overflow: hidden;
  height: min(70dvh, 720px);
  min-height: 300px;
  margin-bottom: -1px
}

.slides {
  position: relative;
  width: 100%;
  height: 100%
}

.slide {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1
}

.slide h2 {
  font-size: 2em;
  line-height: 1.2;
  text-decoration: none;
  font-weight: 700
}

.slide h3 {
  font-size: .8em;
  line-height: 1.2;
  color: var(--white);
  text-decoration: none;
  font-weight: 700
}

.slide.active {
  opacity: 1;
  z-index: 2
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%)
}

.hero-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  width: clamp(300px, 60%, 800px);
  transform: translate(-50%, -50%);
  background: #0009;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  z-index: 2
}

.hero-caption h1,
.hero-caption h2 {
  color: var(--white);
  margin-bottom: .5rem
}

.hero-caption img {
  width: 8dvh;
  height: 60px;
  margin-bottom: 1rem;
  justify-content: center;
  filter: none !important
}

.cta-button {
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem 1.5rem;
  background: #0009;
  color: var(--white);
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  transition: background .3s ease, color .3s ease
}