/* —— Slider Hero —— */
.hero-slider {
  position: relative;
  overflow: hidden;
  height: 70vh;
  min-height: 300px;
  margin-bottom: -1px;
}

.hero-slider::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'%3E%3Cpath d='M0,40 Q150,0 300,40 T600,40 T900,40 T1200,40 L1200,120 L0,120 Z' fill='%23F6F9F4'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  pointer-events: none;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1;
}

.slide h2 {
  font-size: 2em;
  line-height: 1.2;
  text-decoration: none;
  font-weight: bold;
}

.slide h3 {
  font-size: 0.8em;
  line-height: 1.2;
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

.slide.active {
  opacity: 1;
  z-index: 2;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.hero-caption {
  position: absolute;
  top: 40%;
  left: 50%;
  width: clamp(300px, 60%, 800px);
  bottom: 40%;
  top: auto;
  transform: translate(-50%, -50%);
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
}

.hero-caption h1,
.hero-caption h2 {
  color: var(--white);
  margin-bottom: 0.5rem;
}

.cta-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  background: rgba(0, 0, 0, 0.6);
  ;
  color: var(--white);
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
  background: var(--white);
  color: var(--navy-darker);
}
